body {
  background-image: url("/static/assets/Design.png");
  background-size: 100%;
  text-align: center;
}

h1 {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
  color: rgb(161, 16, 45);
  margin: 20px;
}

#main-content {
  display: grid;
  grid-template-columns: 3fr 1fr 2fr;
  border: solid 1px black;
  min-height: 500px;
  gap: 10px;
}

#image-input-and-detect {
  display: grid;
  grid-template-rows: 2fr 1fr;
}

#image-upload {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  border: dotted 1px black;
  /* background-color: rgb(255, 136, 136); */
  /* width: 100px; */
}
#image-canv {
  margin: 20px;
  border: dotted 1px black;
}

#image-input {
  display: none;
}

#upload-btn {
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 20px;
  border-radius: 10px;
  color: white;
  background-color: rgb(161, 16, 45);
  cursor: pointer;
}

#detect-btn {
  margin: 50px 30px;
  /* border: none; */
  /* color: white;
  background-image: linear-gradient(pink, rgb(255, 122, 122));*/
  border-radius: 10px;
}

#loading-img {
  max-width: 150px;
}

#loading-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: dotted 1px black;
  background-color: none;
  /* height: min-content; */
}

#prediction-text {
  border: dotted 1px black;
  /* width: 100px; */
}
