body {
  background-image: url("/static/assets/Design.png");
  background-size: 100%;
  text-align: center;
}

h1 {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
  color: rgb(161, 16, 45);
  margin: 20px;
}

#main-content {
  display: grid;
  grid-template-columns: 3fr 1fr 2fr;
  min-height: 600px;
  gap: 10px;
}

#image-input-and-detect {
  display: grid;
  grid-template-rows: 2fr 1fr;
}

#image-upload {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  border: ridge 5px;
  border-radius: 25px;
}

#image-canv {
  margin: 20px;
  border: none;
  border-radius: 5px;
}

#image-input {
  display: none;
}

#upload-btn {
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  border-radius: 25px;
  font-family: Poppins;
  font-size: 20px;
  color: white;
  background-color: rgb(161, 16, 45);
  cursor: pointer;
}

#upload-btn:hover {
  background-color: transparent;
  border: solid 2px rgb(161, 16, 45);
  color: rgb(161, 16, 45);
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#detect {
  display: none;
}

#detect-btn,
#rm-btn {
  padding: 30px 70px;
  border-radius: 25px;
  font-family: Poppins;
  font-size: 20px;
}

.detect-btn-active {
  border: none;
  color: white;
  background-color: rgb(161, 16, 45);
  cursor: pointer;
}

.detect-btn-active:hover {
  background-color: transparent;
  border: solid 2px rgb(161, 16, 45);
  color: rgb(161, 16, 45);
}

.rm-btn-active {
  background-color: transparent;
  border: solid 2px rgb(161, 16, 45);
  color: rgb(161, 16, 45);
  cursor: pointer;
}

.rm-btn-active:hover {
  color: white;
  background-color: rgb(161, 16, 45);
}

#loading-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
  /* height: min-content; */
}

#loading-img {
  display: none;
  width: 250px;
}

#prediction-text-container {
  display: flex;
  border: dotted 1px black;
  justify-content: center;
  align-items: center;
  border: ridge 5px;
  border-radius: 25px;
}

.pre-detection {
  display: block;
  text-align: left;
  color: cadetblue;
  font-family: Poppins;
  font-size: 22px;
}

#breed-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.breed {
  padding-left: 0px;
}

.post-detection {
  font-family: Poppins;
  font-size: 50px;
  font-weight: lighter;
  color: rgb(161, 16, 45);
}

.footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  color: rgb(101, 101, 101);
  font-family: Poppins;
  font-size: 20px;
}

#my-name {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 1000px) {
  body {
    background-size: cover;
  }

  #loading-sign {
    display: none;
  }

  #main-content {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
  }

  .pre-detection {
    display: none;
  }
}
