<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Poppins:wght@200;500&family=Quicksand:wght@300&family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <title>BreedSniffer</title>
  </head>
  <body>
    <h1>BreedSniffer</h1>
    <div id="main-content">
      <div id="image-input-and-detect">
        <div id="image-upload">
          <canvas id="image-canv"></canvas>
          <input
            type="file"
            accept="image/*"
            id="image-input"
            title="Select image"
          />
          <label for="image-input" id="upload-btn">Select a Dog Image</label>
        </div>
        <div id="buttons">
          <button type="submit" id="detect-btn" class="detect-btn-disabled" onclick="detectBreed()" disabled>
            Detect Breed
          </button>
          <button type="reset" id="rm-btn" class="rm-btn-disabled" onclick="removeImage()" disabled>
            Clear Image
          </button>
        </div>
        
      </div>
      <div id="loading-sign">
        <img
          id="loading-img"
          src="/static/assets/nn-loading.gif"
          alt="loading"
        />
      </div>
      <!-- <canvas id="image-canv"></canvas> -->
      <!-- <input type="file" id="imageInput" accept="image/*" /> -->
      <div id="prediction-text-container">
        <div id="loading-sign-mobile"></div>
        <div id="prediction-text" class="pre-detection">
          <p>
            <b>Choose One of These!</b>
            <ul id="breed-list">
              <li class="breed">Bulldog</li>
              <li class="breed">German Shepherd</li>
              <li class="breed">Golden Retriever</li>
              <li class="breed">Labrador Retriever</li>
              <li class="breed">Pomeranian</li>
              <li class="breed">Poodle</li>
              <li class="breed">Rottweiler</li>
              <li class="breed">Siberian Husky</li>
              <li class="breed">Welsh Corgi</li>
              <li class="breed">Yorkshire Terrier</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="footer">Created by <b><a href="https://github.com/rhythmd18" id="my-name">Rhythm</a></b> with ❤️!</div>
    <script src="/static/index.js"></script>
  </body>
</html>
